div.dt-container select.dt-input {
    padding: 4px;
    width: 79px;
}

#myTable_wrapper,
#requestTable_wrapper,
#loansTable_wrapper,
#transactionTable_wrapper,
#branchesTable_wrapper,
#employeesTable_wrapper {
    width: 100%;
    cursor: pointer;
}
.mdc-data-table__cell {
    text-align: center;
}

#myTable_wrapper label {
    color: white;
}
#myTable_info {
    color: white;
}
